.App {
  text-align: center;
}

.blockquote-custom {
  position: relative;
  font-size: 1.1rem;
}

#display{
  width: 200px;
  background-color: lightcyan;
  margin: 15px auto;
  padding: 15px;
  box-sizing: border-box;
}
